{% extends 'cuahang/index.html' %}
{% load static %}
{% block content %}
<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center"
             style="background-image : url({% static 'img/contact_user.jpg' %}) !important">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="hero__caption hero__caption2">
                            <h1 data-animation="fadeInUp" data-delay=".4s">CASIO</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Trang Chủ</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'casio-detail' %}">CASIO</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{% static 'img/gkQTV_drX-2-dong-dong-ho-casio-nu-ban-nhat-dinh-phai-biet-3.jpg' %}" alt="">
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">Lịch Sử Của Đồng Hồ CASIO
                        </h2>
                        <p class="excert">
                             Thương hiệu Casio ra đời vào tháng 4 năm 1946, người sáng lập là ông Tadao Kashio. Ông xuất
                            thân là một kỹ sư chuyên nghiệp về công nghệ chế tạo, ít ai biết được sản phẩm đầu tiên mà
                            ông chế tạo là ống Yubiwa dùng để giữ điếu thuốc – đây là sản phẩm rất hữu ích sau chiến
                            tranh Thế Giới thứ 2, lúc bấy giờ thuốc lá được xem là thứ vô cùng giá trị tại Nhật Bản.
                        </p>
                        <p>
                            Casio chính thức xâm nhập vào thị trường đồng hồ vào năm 1974, với dòng đồng hồ đầu tiên của
                            họ là Casiotron. Và kể từ đó, những chiếc đồng hồ đeo tay Casio dần dần đi theo sự phát triển
                            của thế giới đồng hồ.
                        </p>
                        <p>
                            Năm 1980, Casio cho ra đời đồng hồ tích hợp với máy tính. Cũng trong thời gian này,
                            Casio là một trong những nhà sản xuất sớm nhất của đồng hồ thạch anh, kỹ thuật số lẫn analog.
                        </p>
                        <p>
                             Vào năm 1983, Casio ra mắt dòng đồng hồ G-Shock, đi ngược lại với những suy nghĩ về đồng hồ.
                            Trái với xu hướng đồng hồ ngày càng nhẹ và mỏng hơn, thì dòng đồng hồ mới này được thiết kế
                            với ý tưởng hoàn toàn độc đáo đó là gồ ghề, mạnh mẽ và bền bỉ. Dòng đồng hồ này mạnh mẽ đến
                            mức có thể thả được độ cao 10m, xe tải cán qua,… mà không ảnh hưởng gì đến hoạt động của đồng
                            hồ. Đến hiện nay, G-Shock là dòng đồng hồ bán chạy nhất của thương hiệu Casio.
                        </p>
                        <p>
                             Năm 1984, Casio phát hành dòng đồng hồ Databank Telememo 10 (CD-40) với chức năng lưu trữ
                            dữ liệu và ghi nhớ 10 nhóm của 16 chữ cái hay chữ số. Kể từ đó, Casio đưa ra hàng loạt đồng
                            hồ lưu trữ dữ liệu, thời gian biểu, lịch tự động và các chức năng khác.
                        </p>
                        <p>
                            Năm 2004, Casio phát hành dòng đồng hồ Oceanus Manta, đây là dòng đồng hồ cao cấp nhất của
                            thương hiệu Casio. Đồng hồ Oceanus được mệnh danh là đồng hồ thương gia.
                        </p>
                        <p>
                            Ngay từ khi bắt đầu, những chiếc đồng hồ Casio đã được thiết kế theo ý tưởng “sản phẩm không
                            chỉ đơn giản hiển thị thời gian”. Một chiếc đồng hồ phải cho bạn biết nhiều thông tin hơn thế
                            như ngày trong tháng, thứ trong tuần, buổi sáng, buổi chiều, thời gian ở nhiều múi giờ, la bàn,
                            đo độ cao,… Một vài mẫu đồng hồ Casio còn được trang bị nhiệt kế cho bạn biết nhiệt độ xung quanh.
                            Ngoài ra, còn có đồng hồ được trang bị từ điển, một số đồng hồ được tích hợp bộ nhớ giúp lưu trữ
                            thông tin điện thoại, email, lịch làm việc cá nhân. Với công nghệ điện tử ngày càng phát triển,
                            Casio sẽ cung cấp cho bạn những chiêc đồng hồ trang bị công nghệ mới nhất.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
