{% extends 'cuahang/index.html' %}
{% load static %}
{% block content %}
<div class="slider-area ">
    <div class="slider-active">
        <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center"
             style="background-image : url({% static 'img/contact_user.jpg' %}) !important">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-8">
                        <div class="hero__caption hero__caption2">
                            <h1 data-animation="fadeInUp" data-delay=".4s">CITIZEN</h1>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Trang Chủ</a></li>
                                    <li class="breadcrumb-item"><a href="{% url 'citizen-detail' %}">CITIZEN</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="{% static 'img/đồng-hồ-đôi-Citizen-AU1062-56E-_-GA1052-55E-2.jpg' %}" alt="">
                    </div>
                    <div class="blog_details">
                        <h2 style="color: #2d2d2d;">Lịch Sử Của Đồng Hồ CITIZEN
                        </h2>
                        <p class="excert">
                           Vào những năm 1880, Nhật Bản là một trong những cường quốc nắm vững được kỹ thuật sản xuất đồng
                            hồ treo tường, thế nhưng dòng đồng hồ bỏ túi lại là một câu chuyện hoàn toàn khác biệt.
                            Việc sản xuất đồng hồ đeo tay hàng loạt đòi hỏi kỹ thuật khó khăn hơn rất nhiều so với việc
                            sản xuất đồng hồ thông thường. Những chiếc đồng hồ với những chi tiết máy phức tạp đòi hỏi
                            phải có những thiết bị cao cấp và sử dụng những công cụ chuyên môn đặc biệt rất đắt và khó
                            mua được ở Nhật thời bấy giờ.
                        </p>
                        <p>
                         Thời bấy giờ, Osaka Watch Inc là công ty Nhật đầu tiên đã nỗ lực sản xuất đồng hồ đeo tay.
                            Họ đã đầu tư nhập khẩu 2 thiết bị chế tạo đồng hồ từ Mỹ, đồng thời thuê 8 chuyên gia người
                            Mỹ cùng 2 chuyên gia người Anh để tư vấn và kết hợp sản xuất. Đến năm 1895, chiếc đồng hồ
                            bỏ túi đầu tiên của Nhật được ra mắt và được biết đến với tên gọi “đồng hồ Sakameri"
                            (như một sự kết hợp giữa 2 địa danh “Osaka” và “American”). Nhưng lĩnh vực chế tạo đồng hồ
                            thực sự là một thử thách lớn và công ty Osaka đã đóng cửa vào năm 1902. Nippon Pocket Watch
                            Manufacturing, một công ty khác bắt đầu chế tạo đồng hồ vào cuối những năm 1890,
                            cũng phải chịu chung số phận với Osaka Watch Ins.
                        </p>
                        <p>
                          Có thể nói Đại Chiến Thế Giới lần thứ nhất chính là bước ngoặt lớn đối với ngành sản xuất đồng
                            hồ tại Nhật. Nền kinh tế Nhật Bản dần dần phát triển, tầng lớp trung lưu gia tăng và nhu cầu
                            trưng diện với những món phụ kiện đeo tay như một cách thể hiện sự đẳng cấp cũng theo đà tăng
                            trưởng. Nhìn thấy lợi nhuận tiềm năng trong lĩnh vực sản xuất đồng hồ, nhiều công ty đã nghiên
                            cứu và gia nhập thị trường mới mẻ này. Trong số những công ty mới tham gia thị trường này có
                            nhà máy Shokosha của Kamekichi Yamazaki - một trong số những doanh nhân sản xuất đồng hồ treo
                            tường với số lượng nhiều nhất tại Nhật thời bấy giờ. Tuy nhiên, vào thời đó, thị trường đồng
                            hồ Nhật Bản bị thao túng bởi các hãng đồng hồ ngoại quốc, chủ yếu là các công ty của Thụy Sỹ,
                            tiếp sau là của Mỹ như Waltham và Elgin.
                        </p>
                        <p>
                            Với tinh thần đấu tranh kiên cường, không chịu khuất phục trước khó khăn của người Nhật,
                            Yamazaki nhen nhóm ý tưởng sản xuất những chiếc đồng hồ được chế tạo bởi linh kiện nội địa
                            đem tới cho người dùng mức giá thành thấp hơn nhiều so với hàng nhập khẩu như trước đây.
                            Mãi sau đó, đến năm 1918, Yamazaki đã chính thức thành lập Viện nghiên cứu đồng hồ Shokosha
                            tại quận Totsuka ở thủ đô Tokyo. Ông đã cùng các cộng sự bắt đầu thử nghiệm sản xuất những
                            chiếc đồng hồ bỏ túi dựa trên nền tảng sử dụng các thiết bị máy móc tân tiến của Thụy Sỹ.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}