{% load static %}

<div class="visit-tailor-area fix">
    {% for item in thuonghieu %}
    {% if item.id == 2 %}
    <!--Right Contents  -->
    <div class="tailor-details">
        <h2>{{ item.TenThuongHieu }}</h2>
        <p>{{ item.MoTa }}</p>
        <a href="{% url 'citizen-detail' %}" class="btn">Tìm Hiểu Thêm</a>
    </div>

    <!-- left Contents -->

        <div class="anh">
            <img style="width:800px" src="{{ item.Anh.url }}" alt="">
        </div>
        {% endif %}
        {% endfor %}

</div>
<!-- instagram-social End -->
<!--? New Arrival-3 Start -->
<div class="new-arrival new-arrival2">
    <div class="container">
        <!-- Section tittle -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-60 text-center wow fadeInUp" data-wow-duration="2s"
                     data-wow-delay=".2s">
                    <h2>Những Sản Phẩm Hot</h2>
                    <P>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare,
                        eros dolor interdum nulla.</P>
                </div>
            </div>
        </div>
        <div class="row">
            {% for item in hot1 %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-new-arrival mb-50 text-center wow fadeInUp" data-wow-duration="1s"
                     data-wow-delay=".1s">
                    <div class="popular-img">
                        {% for a in item.anh_set.all %}
                        {% if a.LoaiAnh == 0 %}
                        <img src="{{ a.imageURL }}" alt="">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="popular-caption">
                        <h3><a href="{% url 'product-detail' item.id %}">{{item.TenSanPham}}</a></h3>
                        <span>{{ item.Gia }}(VND)</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Button -->
        <div class="row justify-content-center">
            <div class="room-btn">
                <a href="{% url 'citizen' %}" class="border-btn">Xem Thêm</a>
            </div>
        </div>
    </div>
</div>