{% load static %}

<footer>
    <div class="footer-wrapper">
        <!-- Footer Start-->
        <div class="footer-area footer-padding">
            <div class="container ">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logom -->
                                <div class="footer-logo mb-35">
                                    <a href="index.html"><img src="{% static 'home/img/logom/logo2_footer.png'%}" alt=""></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Thời gian là thứ chúng ta cần nhất, nhưng lại cũng là thứ chúng ta lãng phí nhất.
                                        Thường chúng ta lãng phí thời gian tuổi trẻ để chạy theo những điều vô vọng và vô bổ.
                                            Cho đến khi nhận ra, bạn lại ao ước có thể trở về quá khứ để sửa sai hoặc chìm trong vô vọng vì quãng thời gian trước mắt quá ngắn để bạn làm lại từ đầu.
                                            Đừng để vòng lặp này tuần hoàn một lần nữa! </p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Liên Hệ</h4>
                                <ul>
                                    <li><a href="http://facebook.com/NguyenAn69">FaceBook</a></li>
                                    <li><a href="#">Intagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Thương Hiệu</h4>
                                <ul>
                                    <li><a href="{% url 'orient' %}">Orient</a></li>
                                    <li><a href="{% url 'citizen' %}">Citizen</a></li>
                                    <li><a href="{% url 'candino' %}">Candino</a></li>
                                    <li><a href="{% url 'daniel' %}">Daniel Wellington</a></li>
                                    <li><a href="{% url 'casio' %}">Casio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Hỗ Trợ</h4>
                                <ul>
                                    <li><a href="{% url 'contact' %}">Phản Ánh</a></li>
                                    <li style="color:white">Tư Vấn : 0582017692 </li>
                                    <li><a href="#">Thông Tin Về Chúng Tôi</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom area -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex align-items-center">
                        <div class="col-xl-12 ">
                            <div class="footer-copy-right text-center">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | This template is made with  by <a
                                        href="https://colorlib.com" target="_blank">Colorlib</a>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </div>
</footer>
<!-- Scroll Up -->
<div id="back-top">
    <a title="Lên đầu trang" href="#"><img style="width:30px" src="{% static 'img/up.png'%}"></a>
</div>