{% load static %}

<div class="categories-area section-padding40 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'home/img/icon/services1.svg'%}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Giao Hàng Siêu Nhanh</h5>
                        <p>Siêu nhanh & Siêu tiết kiệm</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                    <div class="cat-icon">
                        <img src="{% static 'home/img/icon/services2.svg'%}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Thanh Toán Payment</h5>
                        <p>An toàn & Tiện lợi</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                    <div class="cat-icon">
                        <img src="{% static 'home/img/icon/services3.svg'%}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Chính Sách Bảo Hành</h5>
                        <p>Uy tín </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="cat-icon">
                        <img src="{% static 'home/img/icon/services4.svg'%}" alt="">
                    </div>
                    <div class="cat-cap">
                        <h5>Hỗ Trợ Online</h5>
                        <p>Hỗ trợ 24/24</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>