{% load static %}

 <div class="slider-area ">
     <div class="slider-active">
         <div class="single-slider hero-overly1 slider-height d-flex align-items-center "
              style="background-image :  url({%static 'img/h1_hero.jpg'%}) !important">
             <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-8 col-md-8">
                         <div class="hero__caption">
                             <span> </span>
                             <h1 data-animation="fadeInUp" data-delay=".4s">Super Watch</h1>
                             <p data-animation="fadeInUp" data-delay=".6s">Cuộc đời là của mình,
                                 hãy dùng thời gian mình có để thực hiện những hoài bão, đam mê nhé!</p>
                             <!-- Hero-btn -->
                             <div class="hero__btn" data-animation="fadeInUp" data-delay=".7s">
                                 <a href="industries.html" class="btn hero-btn">Super Watch</a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>