{% extends 'cuahang/index.html' %}

{% block content %}
    <!-- slider -->
    {% include '../widgets/slider.html' %}
   <!-- category-->
    {% include '../widgets/category.html' %}
    <!-- category1-->
    {% include '../widgets/category1.html' %}
    <!-- category2-->
    {% include '../widgets/category2.html' %}
    <!-- category3-->
    {% include '../widgets/category3.html' %}
    <!-- category4-->
    {% include '../widgets/category4.html' %}
    <!-- category5-->
    {% include '../widgets/category5.html' %}
{% endblock %}

