<!DOCTYPE html>

<head>
    <!-- Add meta tags for mobile and IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <style>
        .card-body {
        padding : 10px 20px;
        width : 200px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
}
    </style>
</head>

<body>
<div class="card-body">
    <!-- Set up a container element for the button -->
    <div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=AXub7qxIwjBrlg4kJjUAHjWxfk1JESzUT4k5-1UnVEvjeJUHD_YFwzoS3_Ot9wd0CXjVD2iXgYeKSZfX&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

                style: {
                color:  'blue',
                shape:  'pill',
                label:  'pay',
                height: 40
            },
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-button-container');

    </script>
</div>
</body>
    