{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shop | eCommerce</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/progressbar_barfiller.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/lightslider.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/price_rangs.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/animated-headline.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'home/css/style.css'%}">

</head>
<body>
<div class="register-form-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="register-form text-center">
                    <!-- Login Heading -->
                    <form method="post" action="{% url 'confirm' %}">
                        {% csrf_token %}
                        <div class="register-heading">
                            <h1>Mã xác nhận đã được gửi tới email<b>{{ email }}</b></h1>
                        </div>
                        <!-- Single Input Fields -->
                        <div class="input-box">
                            <div class="single-input-fields">
                                <label>Mời nhập mã xác nhận</label>
                                <input type="text" name="confirm" required='true' placeholder="Nhập mã xác nhận">
                                <input type="hidden" name="ma" value="{{ ma }}">
                                <input type="hidden" name="email" value="{{ email }}">
                                <input type="hidden" name="address" value="{{ address }}">
                                <input type="hidden" name="birth" value="{{ birth }}">
                                <input type="hidden" name="last" value="{{ last }}">
                                <input type="hidden" name="first" value="{{ first }}">
                                <input type="hidden" name="phone" value="{{ phone }}">
                            </div>
                        </div>
                        {% if messages %}
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                        {% endif %}
                        <!-- form Footer -->
                        <div class="register-footer">
                            <button class="submit-btn3">Xác Nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>